.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: black 1px solid;
    border-radius: 25px;
    width: 500px;
    height: 450px;
    text-align: center;
}

.inbox{
    border-radius: 25px;
    height: 25px;
    width: 200px;
    color: grey;
}