.container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    color : white;
}


.my-navbar{
    background-color: black;
}


.box{
    display: flex;
    flex-direction: row;
}


th,tr,td{
    border: 1px solid black !important;
}
